.container {
  text-align: center;
  width: 480px;
  display: flex;
  flex-direction: column;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer > * {
  width: 100%;
}

.formContainer > span {
  text-align: start;
}

.container h1 {
  font-size: 2.5rem;
}

.quizInputs {
  display: flex;
  flex-direction: column;
}

.quizInputs > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.quizInputs > div > input {
  text-align: center;
  font-size: 1.3rem;
  width: 4rem;
  border-radius: 4px;
  outline: 1px solid #ccc;
}

.quizInputs input:focus {
  outline: 2px solid #2684ff;
}

.reactSelectContainer {
  font-size: 1.3rem;
  text-align: start;
  margin-top: 0.5rem;
}

.infoText {
  text-align: left;
}

.linkBackToHome,
.saveNewQuestions {
  font-size: 1.25rem;
}

.saveNewQuestions {
  color: var(--color-B);
  font-weight: 700;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}
