.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  height: 80%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.navContainers {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContainers li {
  margin: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.navContainers li:first-child {
  color: #ffa700;
  font-weight: 700;
}

@media (max-width: 768px) {
  .header {
    font-size: 1.75rem;
  }

  .container {
    width: 100%;
  }

  .description {
    font-size: 0.9rem;
  }

  .navContainers li {
    font-size: 1.5rem;
  }
}
