SECRET_KEY='AT-LEAST-70TH-LENGTH-SECRET-KEY'
SECRET_KEY_JWT='AT-LEAST-70TH-LENGTH-SECRET-KEY'
DEBUG='True'
DJANGO_SUPERUSER_USERNAME='admin'
DJANGO_SUPERUSER_PASSWORD='1'
ERROR_LOG='False'
ERROR_LOG_FILE='last_TestCase_error_log.txt'