SECRET_KEY='AT-LEAST-70TH-LENGTH-SECRET-KEY'
SECRET_KEY_JWT='AT-LEAST-70TH-LENGTH-SECRET-KEY'
DEBUG='True'

# In case you want your error log as a file, set environment variable 'ERROR_LOG' to 'True'.
# Set 'ERROR_LOG_FILE' to the desired name file if you wish a different name than default one.
ERROR_LOG='False'
ERROR_LOG_FILE='last_TestCase_error_log.txt'