.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}

.description {
  text-align: center;
  font-size: 1.5rem;
  width: 75%;
  margin: 0 auto;
}

.navContainers {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navContainers li {
  margin: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.navContainers li:first-child {
  color: #ffa700;
  font-weight: 700;
}

.avatarContainer {
  position: absolute;
  top: 2rem;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
}

.userUsername:hover,
.userLogin:hover {
  text-decoration: underline;
  cursor: pointer;
}

.nonAuthenticationIcon {
  width: 50px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--color-A);
  border-radius: 50%;
  border: 2px solid var(--color-A);
}

.nonAuthenticationIcon > svg {
  width: 100%;
  height: 100%;
  fill: var(--color-B);
  overflow: hidden;
}

.login:hover,
.register:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .header {
    font-size: 1.75rem;
  }

  .container {
    width: 100%;
  }

  .description {
    font-size: 0.9rem;
  }

  .navContainers li {
    font-size: 1.5rem;
  }

  .avatarContainer {
    position: fixed;
    top: 1rem;
    right: 50%;
    left: 50%;
    transform: translateX(50%);
  }

  .userAvatar {
    width: 40px;
    height: 40px;
  }

  .userUsername {
    font-size: 0.75rem;
  }
}
