.container {
  width: 680px;
  font-size: 1.3rem;
  overflow-y: auto;
}

.container h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.quizFieldsContainer > * {
  margin-bottom: 1rem;
}

.quizFieldsContainer label {
  width: 100%;
  text-align: start;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.buttons button {
  width: 100%;
  margin: 0 0.5rem;
}

.backgroundColor {
  background-color: var(--backgroundColor-D);
}

.note {
  display: block;
  font-size: 1rem;
}

.links {
  margin-top: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
