.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 420px;
}

.container h1 {
  font-size: 3.5rem;
}

.container form {
  width: 100%;
}

@media (max-width: 350px) {
  .container h1 {
    font-size: 3rem;
  }
}

.hr {
  width: 100%;
}

.container button {
  width: 100%;
  margin: 1rem 0;
}

.linkRegister {
  font-weight: 700;
  color: var(--color-B);
}

.linkRegister,
.linkBackToHome {
  font-size: 1.25rem;
  margin-top: 0.5rem;
}
