.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

.avatar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: var(--color-A);
  border-radius: var(--border-radius);
}

.avatar input[type="file"] {
  position: absolute;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.selectedImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.addAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  pointer-events: none;
  user-select: none;
  color: var(--color-D);
}

.errorBorder {
  border: 2px solid rgb(255, 100, 100);
}

.errorText {
  color: rgb(255, 100, 100);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.remove {
  color: var(--color-B);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
