.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.avatarContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  background-color: var(--color-A);
  color: var(--color-D);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

.avatarContainer input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.avatarContainer > span:first-child {
  font-size: 3rem;
}

.addAvatar {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  font-size: 1.25rem;
}

.addAvatar > span:first-child {
  font-size: 2rem;
  font-weight: bold;
}

.selectedImage {
  width: 100%;
  height: 100%;
}
