.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--min-width);
  background-color: var(--backgroundColor-C);
  /* padding: 1rem; */
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px var(--color-D);
  overflow: hidden;
}

.container > h1 {
  text-align: center;
  padding: 1rem;
  width: 100%;
  background-color: var(--backgroundColor-D);
}

.container > table {
  margin-bottom: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.thead {
  height: 60px;
  border-bottom: 1px solid var(--color-A);
}

.thead th:nth-child(1) {
  width: 20%;
}

.thead th:nth-child(2) {
  width: 40%;
}

.thead th:nth-child(3) {
  width: 20%;
}

.thead th:nth-child(4) {
  width: 20%;
}

.thead th:nth-child(2):hover {
  cursor: pointer;
}

.thead th:nth-child(3):hover {
  cursor: pointer;
}

.thead th:nth-child(4):hover {
  cursor: pointer;
}

.tr:hover {
  background-color: var(--backgroundColor-B);
}

.thead th {
  background-color: var(--backgroundColor-D);
}

.thead th:hover:not(:nth-child(1)) {
  /*Make it same background color, but darker*/
  filter: brightness(90%);
}

.ranking {
  text-align: center;
}

.name {
  text-align: left;
}

.score {
  text-align: center;
}

.totalAnswers {
  text-align: center;
}

.backToHomeLink {
  margin: 1rem;
}
